certManager:
  {{ if eq .Environment.Name "production" }}
  issuerName: "letsencrypt-x10archery-prod"
  privateKeySecret: "x10archery-prod-issuer-account-key"  
  {{else}}
  issuerName: "letsencrypt-x10archery-dev"
  privateKeySecret: "x10archery-dev-issuer-account-key"
  {{end}}
